<!-- log-in.ejs -->
<%- include('layout') %>
<main>
  <h1>Log In</h1>
  <form action="/log-in" method="POST">
    <label for="username">Username</label>
    <input
      name="username"
      placeholder="username@email.com"
      type="text"
      value="<%= typeof userName !== 'undefined' ? userName : '' %>"
    />
    <label for="password">Password</label>
    <input
      name="password"
      type="password"
      value="<%= typeof password !== 'undefined' ? password : '' %>"
    />
    <button type="submit">Log In</button>
  </form>
  <% if (typeof errors !== 'undefined' && errors){%>
  <ul>
    <% for (let error of errors){ %>
    <li><%= error.msg %></li>
    <% } %>
  </ul>
  <%}%> <% if (errorMessage && errorMessage.length > 0){%>
  <p class="error-message"><%= errorMessage %></p>
  <%}%> <% if (typeof error !== 'undefined' && error){%>
  <p class="error"><%= error %></p>
  <%}%>
</main>
